.outer-box {
background-color:grey;
margin:10px;
min-height:300px;
     }
.name {
  font-family:Tahoma;
       margin:left;
     }
     .picture {
       margin-left:20px;
       float:left;
       margin-right:20px;
       margin-bottom:20px;
       border:2px solid;
     }
     .bio{
       font-family:Tahoma;
       padding-left:20px;
       padding-right:20px;
       padding-bottom:10px;
     }
     img {
       display:block;
     }
<div.cities {
    background-color:white;
    color:Black;
    margin: 20px;
    
}
h2 {
font-family:'Open Sans Condensed';
font-size:30;
}
p {
  font-family:Open Sans Condensed;
  font-size:27px;
}
h1{
  font-family:Poiret One;
}
li{
font-family:Open Sans Condensed;

       font-size:27px;
}
       
       .squarebullet {
         list-style-type:square;
       }
       #ad{
         float:right;
         margin:10px;
         width:300px;
       }
      
       
      
